@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8; /* Fundo suave azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    padding: 40px;
}

.texto-formatado {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    width: 30ch; /* ajuste para o número de caracteres */
    animation: typing 3s steps(30), blink 0.5s step-end infinite alternate;
    transition: transform 0.3s ease; /* Efeito suave ao passar o mouse */
    cursor: pointer;
}

.texto-formatado:hover {
    transform: scale(1.05); /* Aumenta ligeiramente ao passar o mouse */
}

@keyframes typing {
    from { width: 0; }
    to { width: 30ch; }
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: black; }
}
