* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8; /* Fundo suave azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: #6ab7d6; /* Azul agradável */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 24px;
    color: #ffffff; /* Texto branco */
    text-align: center;
}
