* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8; /* Fundo suave azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    padding: 40px;
}

p {
    font-size: 24px;
    text-align: center;
}

.texto-formatado {
    font-family: 'Pacifico', cursive; /* Fonte nova e estilosa */
    font-size: 36px; /* Tamanho grande para destaque */
    color: #ff6347; /* Cor vibrante, vermelho alaranjado */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra no texto para profundidade */
    transition: transform 0.3s ease; /* Efeito suave ao passar o mouse */
    cursor: pointer;
}

.texto-formatado:hover {
    transform: scale(1.05); /* Aumenta ligeiramente ao passar o mouse */
}